<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Getting DB Things Done</title>
  </head>
  <body>
    <header>
      <h2>SinatraCRUD</h2>
      <h4>Getting DB Things Done</h4>
      <hr>
    </header>
    <%= yield %>
    <hr>
    <footer>&copy: 2015 Sinatra Workforce</footer>
  </body>
</html>
